html {
    scroll-behavior: smooth;
}

.scroll-down {  
    display: flex;
    justify-content: center;
    margin-top: 94px;
}

.scroll-down a {
    text-decoration: none;
    font-size: 2rem; 
    color: #878EA1;
    transition: transform 0.3s ease-in-out;
}

.scroll-down a:hover {
    transform: translateY(8px); 
    color:#BB72E9;
}
